| constraint_name                     | constraint_type | table_name         |
| ----------------------------------- | --------------- | ------------------ |
| _prisma_migrations_pkey             | p               | _prisma_migrations |
| profiles_email_key                  | u               | profiles           |
| profiles_pkey                       | p               | profiles           |
| profiles_role_check                 | c               | profiles           |
| profiles_username_key               | u               | profiles           |
| username_format                     | c               | profiles           |
| barbers_pkey                        | p               | barbers            |
| barbers_stripe_account_status_check | c               | barbers            |
| barbers_user_id_fkey                | f               | barbers            |
| barbers_user_id_key                 | u               | barbers            |
| services_barber_id_fkey             | f               | services           |
| services_barber_name_key            | u               | services           |
| services_pkey                       | p               | services           |
| bookings_barber_id_fkey             | f               | bookings           |
| bookings_client_id_fkey             | f               | bookings           |
| bookings_payment_status_check       | c               | bookings           |
| bookings_pkey                       | p               | bookings           |
| bookings_service_id_fkey            | f               | bookings           |
| bookings_status_check               | c               | bookings           |
| availability_barber_day_key         | u               | availability       |
| availability_barber_id_fkey         | f               | availability       |
| availability_day_of_week_check      | c               | availability       |
| availability_pkey                   | p               | availability       |
| notifications_booking_id_fkey       | f               | notifications      |
| notifications_pkey                  | p               | notifications      |
| notifications_user_id_fkey          | f               | notifications      |
| special_hours_barber_date_key       | u               | special_hours      |
| special_hours_barber_id_fkey        | f               | special_hours      |
| special_hours_pkey                  | p               | special_hours      |
| payments_pkey                       | p               | payments           | 